<div class="bg-white border-t border-gray-200 px-6">
    <div class="max-w mx-auto px-6 py-12">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-sm">
            <div>
                <h3 class="text-lg text-gray-800 mb-2">NetLab</h3>
                <p class="text-sm text-gray-600">ระบบสำหรับใช้งานและจัดการ GNS3 VM บน Amazon Web Services</p>
            </div>
            <div class="flex flex-col justify-end md:text-right">
                <p class="text-xs text-gray-600 mb-1">06016404 Cloud Computing - ภาคการศึกษาที่ 1 ปีการศึกษา 2569</p>
                <p class="text-xs text-gray-600">ขับเคลื่อนโดย Deadline 💀</p>
            </div>
        </div>
    </div>
</div>
