<div class="bg-white border-b fixed top-0 w-full">
    <div class="flex justify-between max-w-7xl mx-auto px-6 py-3">
        <a href="/" class="flex items-center"><img src="/static/image/netlab_logo.png" class="inline-block h-10 w-auto"></a>
        {% if request.cookies.get("access_token") %}
        <div class="relative">
            <input type="checkbox" id="profile" class="hidden peer">
            <label for="profile" class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-800 hover:bg-gray-900 transition-colors duration-200 ease-in-out text-white text-xs cursor-pointer">{{ request.cookies.get("username", "?")[0].upper() }}</label>
            <div class="absolute right-0 top-full mt-6 w-48 bg-white border rounded-lg shadow-sm p-2 hidden peer-checked:block">
                <a href="/profile" class="block w-full px-4 py-2 text-gray-800 hover:text-gray-900 transition-colors duration-200 ease-in-out text-sm">โปรไฟล์</a>
                <hr class="my-2">
                <form action="/signout" method="POST">
                    <button type="submit" class="block w-full px-4 py-2 text-rose-600 hover:text-rose-700 transition-colors duration-200 ease-in-out text-left text-sm">ออกจากระบบ</button>
                </form>
            </div>
        </div>
        {% else %}
        <a href="/signin" class="px-4 py-3 bg-gray-800 hover:bg-gray-900 transition-colors duration-200 ease-in-out text-white text-xs rounded-xl">ลงชื่อเข้าใช้</a>
        {% endif %}
    </div>
</div>
