<div class="min-[769px]:block">
    <div class="bg-white flex justify-between border-b px-6 py-3 fixed top-0 w-full">
        <a href="/" class="flex items-center"><img src="../../static/image/netlab_logo.png" class="h-10 w-auto"></a>
        <div class="flex items-center gap-4">
            <a href="/signin" class="px-4 py-3 bg-gray-800 text-white text-xs rounded-xl">ลงชื่อเข้าใช้</a>
        </div>
    </div>
</div>
<div class="min-[769px]:hidden">
    <div class="bg-white flex justify-between border-b px-6 py-3 fixed top-0 w-full">
        <a href="/" class="flex items-center"><img src="../../static/image/netlab_logo.png" class="h-10 w-auto"></a>
        <div class="flex items-center gap-4">
            <a href="/signin" class="px-4 py-3 bg-gray-800 text-white text-xs rounded-xl">ลงชื่อเข้าใช้</a>
        </div>
    </div>
</div>
