<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/header.html" %}
    <title>ไม่พบ - NetLab</title>
</head>
<body class="bg-white">
    {% include "components/navbar.html" %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="text-center px-6">
            <img src="../static/images/python.gif" class="h-40 mx-auto mb-4">
            <p class="text-blue-600 text-sm mb-1">ขออภัย</p>
            <p class="text-6xl text-gray-800 mb-1">ไม่พบหน้านี้</p>
            <p class="text-sm text-gray-600 mb-8">Oops! Something Went Wrong</p>
            <p class="text-gray-600 text-md mb-10">"Page not found, but never stop trying" - Sarin said.</p>
            <a href="/home" class="bg-blue-600 text-white text-sm px-4 py-3 rounded-xl">กลับไปหน้าหลัก</a>
        </div>
    </div>
    {% include "components/footer.html" %}
</body>
</html>
