<!DOCTYPE html>
<html lang="en">
<head>
    {% include "component/head.html" %}
    <title>ไม่พร้อมใช้งาน - NetLab</title>
</head>
<body class="bg-white">
    {% include "component/navbar.html" %}
    <div class="flex justify-center items-center min-h-screen w-full">
        <div class="text-center max-w-7xl p-6">
            <img src="/static/animation/cobra.gif" class="inline-block h-40 mx-auto mb-4">
            <p class="text-6xl text-red-500 mb-1">ไม่พร้อมใช้งาน</p>
            <p class="text-sm text-gray-600 mb-8">No server is currently available to service your request</p>
            <p class="text-gray-600 text-md mb-10">"Service unavailable, but never stop trying." - Sarin</p>
        </div>
    </div>
    {% include "component/footer.html" %}
</body>
</html>
