<!DOCTYPE html>
<html lang="en">
<head>
    {% include "component/head.html" %}
    <title>หน้าหลัก - NetLab</title>
</head>
<body class="bg-white">
    {% include "component/navbar.html" %}
    <div class="flex justify-center items-center px-6 text-center min-h-screen">
        <div class="max-w-3xl">
            <img src="../static/image/netlab_logo.png" class="h-32 mx-auto mb-6">
            <p class="text-gray-600 text-lg max-w-2xl mb-6 mx-auto">ระบบสำหรับใช้งานและจัดการ GNS3 VM บน Amazon Web Services</p>
            <div class="flex gap-4 justify-center">
                <a href="/signin" class="bg-gray-800 text-white px-4 py-3 rounded-xl text-sm">🦎 ใช้งาน GNS3</a>
                <a onclick="document.getElementById('about').scrollIntoView({ behavior: 'smooth' }); return false;" class="border px-4 py-3 rounded-xl text-sm">🌐 เกี่ยวกับระบบ</a>
            </div>
        </div>
    </div>
    <div id="about" class="flex justify-center items-center px-6 text-center min-h-screen">
        <div class="max-w-3xl">
            <p class="text-gray-600 text-2xl max-w-2xl mb-6 mx-auto">Virtual Machine + GNS3 VM are over</p>
            <img src="../static/image/aws_logo.png" class="h-32 mx-auto mb-6">
            <p class="text-gray-600 text-4xl max-w-2xl mx-auto">"It's cloudin' time."</p>
        </div>
    </div>
    {% include "component/footer.html" %}
</body>
</html>
