<!DOCTYPE html>
<html lang="en">
<head>
    {% include "component/head.html" %}
    <title>หน้าหลัก - NetLab</title>
</head>
<body class="bg-white">
    {% include "component/navbar.html" %}
    <div class="flex justify-center items-center min-h-screen w-full">
        <div class="text-center max-w-7xl p-6">
            <img src="../static/image/netlab_logo.png" class="inline-block max-h-40 w-auto mb-6">
            <p class="text-gray-600 text-lg mb-6">แพลตฟอร์มใช้งาน GNS3 VM บน Amazon Web Services</p>
            <div class="flex gap-4 justify-center">
                <a href="/signin" class="bg-gray-800 text-white px-4 py-3 rounded-xl text-sm">🦎 เริ่มต้นทำแล็บ</a>
                <a onclick="document.getElementById('about').scrollIntoView({ behavior: 'smooth' });" class="border px-4 py-3 rounded-xl text-sm">🌐 เกี่ยวกับแพลตฟอร์ม</a>
            </div>
        </div>
    </div>
    <div id="about" class="flex justify-center items-center min-h-screen w-full">
        <div class="text-center max-w-7xl p-6">
            <p class="text-gray-600 text-2xl mb-6">Virtual Machine + GNS3 VM are over</p>
            <img src="../static/image/aws_logo.png" class="inline-block max-h-40 w-auto mb-6">
            <p class="text-gray-600 text-4xl">"It's cloudin' time."</p>
        </div>
    </div>
    {% include "component/footer.html" %}
</body>
</html>
