<!DOCTYPE html>
<html lang="en">
<head>
    {% include "component/head.html" %}
    <title>ลงชื่อเข้าใช้ - NetLab</title>
</head>
<body class="bg-white">
    {% include "component/navbar.html" %}
    <div class="flex items-center justify-center min-h-screen">
        <div class="border shadow-md rounded-2xl m-6 p-8 max-w-md w-full">
            <div class="text-center">
                <img src="../static/image/netlab_icon.png" class="inline-block max-h-24 w-auto mb-6">
                <p class="text-xl text-gray-800">ยินดีต้อนรับ, NetLabber!</p>
                <p class="text-sm text-gray-600 mb-6">ลงชื่อเข้าใช้เพื่อเข้าถึง NetLab</p>
            </div>
            <form action="/signin" method="POST">
                <div class="mb-4">
                    <label class="block text-sm text-gray-600 mb-2">ชื่อผู้ใช้</label>
                    <input type="text" name="identifier" placeholder="กรอกชื่อผู้ใช้ของคุณ" required class="w-full bg-white border rounded-xl px-4 py-3 text-sm text-gray-800 placeholder-gray-600"/>
                </div>
                <div class="mb-4">
                    <label class="block text-sm text-gray-600 mb-2">รหัสผ่าน</label>
                    <input type="password" name="password" placeholder="กรอกรหัสผ่านของคุณ" required class="w-full bg-white border rounded-xl px-4 py-3 text-sm text-gray-800 placeholder-gray-600"/>
                </div>
                <p class="text-right text-sm text-gray-800 mb-4">ลืมรหัสผ่าน? ช่วยไม่ได้</p>
                <button type="submit" class="w-full bg-gray-800 hover:bg-gray-700 transition-colors duration-200 ease-in-out text-white text-sm px-4 py-3 rounded-xl">ลงชื่อเข้าใช้</button>
            </form>
        </div>
    </div>
    {% include "component/footer.html" %}
</body>
</html>
